<a href="https://colab.research.google.com/github/pratik6217/Python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
class Pratik:
  def __init__(self,name):
    self.name=name
    print(name)
    
  def __str__(self):
    return("Hi my name is {}".format(self.name))
  def print_name(self):
    return "My name is {name}".format(name=self.name)

'''help(Pratik)
obj1=Pratik("Pratik")
obj2=Pratik("Mehak")
obj3=Pratik("Ananya")
print(obj1)
print(obj2)
print(obj3)'''

print(obj1.print_name())
print(obj2.print_name())
print(obj3.print_name())

My name is Pratik
My name is Mehak
My name is Ananya

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [27]:
import datetime
date_time=(datetime.datetime.now())
print(date_time.time())
print(date_time.date())
print(date_time.year)

14:52:46.921163
2020-09-08
2020

In [31]:
import os
os.system("bash")

0

In [68]:
import pandas
names=["Pratik","Mehak","Ananya","Madhu"]
sur_names=["Mishra","Makhijja","Panday","Singh"]
age=[19,19,23,19]
gender=["Male","Female","Female","Female"]
dict_1={"Names":names,"Surnames":sur_names,"Age":age,"Gender":gender,"Mode":"1"}
df=pandas.DataFrame({"Names":names,"Surnames":sur_names,"Age":age,"Gender":gender,"Mode":1})

'''for key, value in dict_1.items():
  if "Pratik" in value or "1" in value:
    print(dict_1[key])'''

print(df)

    Names  Surnames  Age  Gender  Mode
0  Pratik    Mishra   19    Male     1
1   Mehak  Makhijja   19  Female     1
2  Ananya    Panday   23  Female     1
3   Madhu     Singh   19  Female     1

In [ ]:
python --version